<!DOCTYPE html>
<!-- microdata マークアップを Google 構造化データ マークアップ支援ツールで追加 -->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
  <!--<![endif]-->
  <head>
  	<meta name="fragment" content="!">
    <title>Booklyn | Welcome...</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="無料,アニメ,動画">

    <meta name="description" content="最新アニメの動画リンクを載せています。">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- CSS Global Compulsory -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/themes/default.css" id="style_color">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="stylesheet" href="/assets/css/pages/profile.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/assets/plugins/line-icons/line-icons.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/plugins/flexslider/flexslider.css">
    <link rel="stylesheet" href="/assets/plugins/parallax-slider/css/parallax-slider.css">
    <link rel="stylesheet" href="http://jtrussell.github.io/angular-snap.js/bower_components/angular-snap/angular-snap-only.css">

  </head>

  <body id="top" class="boxed-layout container" ng-app="App">
    <div snap-drawer>  
            <ul class="list-group sidebar-nav-v1" id="sidebar-snap">
              <!-- Start Anime -->
              <li class="panel">
                <a data-toggle="collapse" data-parent="#sidebar-snap" href="#collapse-week-anime-snap">アニメ（放送曜日）</a>
                <ul id="collapse-week-anime-snap" class="collapse in">
                  <li ng-repeat="week in weeks">
                    <a href="/week/{{week['en']}}"><i class="fa fa-chevron-circle-right"></i> {{week['ja']}}</a>
                  </li>
                </ul>
              </li>
              <li class="panel">
                <a data-toggle="collapse" data-parent="#sidebar-snap" href="#collapse-atoz-anime-snap">アニメ（五十音順）</a>
                <ul id="collapse-atoz-anime-snap" class="collapse">
                  <li ng-repeat="a in atoz">
                    <a href="/atoz/{{a['en']}}"><i class="fa fa-chevron-circle-right"></i> {{a['ja']}}</a>
                  </li>
                </ul>
              </li>
              <!-- End Anime -->
              <!-- Start Drama -->
              <li class="panel">
                <a data-toggle="collapse" data-parent="#sidebar-snap" href="#collapse-week-drama-snap">ドラマ（放送曜日）</a>
                <ul id="collapse-week-drama-snap" class="collapse">
                  <li ng-repeat="week in weeks">
                    <a href="/week/{{week['en']}}"><i class="fa fa-chevron-circle-right"></i> {{week['ja']}}</a>
                  </li>
                </ul>
              </li>
              <li class="panel">
                <a data-toggle="collapse" data-parent="#sidebar-snap" href="#collapse-atoz-drama-snap">ドラマ（五十音順）</a>
                <ul id="collapse-atoz-drama-snap" class="collapse">
                  <li ng-repeat="a in atoz">
                    <a href="/atoz/{{a['en']}}"><i class="fa fa-chevron-circle-right"></i> {{a['ja']}}</a>
                  </li>
                </ul>
              </li>
              <!-- End Anime -->

            </ul>
            <!-- Column Right -->

 
 
 
   </div>

    <div class="wrapper" ng-controller="MainController" snap-content snap-options="snapOpts">
      <!--=== Header ===-->
      <div class="header">
        <!-- Topbar -->
        <div class="topbar">
          <div class="container">

          </div>
        </div>
        <!-- End Topbar -->
        <!-- Navbar -->
        <div class="navbar navbar-default" role="navigation">
          <div class="container">
             <div class="collapse navbar-collapse navbar-responsive-collapse">
              
              <a href="/">
                <i class="fa fa-book fa-3x text-info" snap-toggle="left"></i><i class="fa fa-3x text-info"><span style="font-family: sans-serif;font-style:italic;">Booklyn</span>
                </i>
                <i class="text-info"> ( ブックリン )</i>
                <i class="fa fa-3x text-danger"><span style="font-family: sans-serif;font-style:italic;">β</span>
                </i>
                <i class="text-danger"> ( ベータ )</i>
              </a>
              <ul class="nav navbar-nav">
                <!-- Home -->
                <li class="dropdown active">
                  <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"> 現在放送中の作品 </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-week-anime"> アニメ </a>
                    </li>
                    <li>
                      <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-week-drama"> ドラマ </a>
                    </li>
                  </ul>
                </li>
                <!-- End Home -->

                <!-- Pages -->
                <li class="dropdown">
                  <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"> 過去の作品 </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-atoz-anime"> アニメ </a>
                    </li>
                    <li>
                      <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-atoz-drama"> ドラマ </a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"> ランキング </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="" > アニメ </a>
                    </li>
                    <li>
                      <a href="" > ドラマ </a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="/howto" class="dropdown-toggle" data-toggle="dropdown"> 視聴方法 </a>
                </li>
                <!-- End Pages -->

                <!-- Search Block -->
                <li>
                  <i class="search fa fa-search search-btn"></i>
                  <div class="search-open">
                    <div class="input-group animated fadeInDown">
                      <input type="text" class="form-control" placeholder="Search">
                      <span class="input-group-btn">
                        <button class="btn-u" type="button">
                          Go
                        </button> </span>
                    </div>
                  </div>
                </li>
                <!-- End Search Block -->
              </ul>
            </div><!--/navbar-collapse-->
          </div>
        </div>
        <!-- End Navbar -->
      </div>
      <!--=== End Header ===-->

      <!--=== Content Part ===-->
      <div class="profile container content">
<div class="ninja_onebutton">
<script type="text/javascript">
//<![CDATA[
(function(d){
if(typeof(window.NINJA_CO_JP_ONETAG_BUTTON_1f263a0af358ac52954b0a1496e4cfbe)=='undefined'){
    document.write("<sc"+"ript type='text\/javascript' src='http:\/\/omt.shinobi.jp\/b\/1f263a0af358ac52954b0a1496e4cfbe'><\/sc"+"ript>");
}else{
    window.NINJA_CO_JP_ONETAG_BUTTON_1f263a0af358ac52954b0a1496e4cfbe.ONETAGButton_Load();}
})(document);
//]]>
</script><span class="ninja_onebutton_hidden" style="display:none;"></span><span style="display:none;" class="ninja_onebutton_hidden"></span>
</div>
        <!-- Columns -->
        <div class="row">
          <!-- Column Left -->
          <div class="col-md-2" ng-hide="isHowto">
            <ul class="list-group sidebar-nav-v1" id="sidebar-nav">
              <!-- Start Anime -->
              <li class="panel">
                <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-week-anime">アニメ（放送曜日）</a>
                <ul id="collapse-week-anime" class="collapse in">
                  <li ng-repeat="week in weeks">
                    <a href="/week/{{week['en']}}"><i class="fa fa-chevron-circle-right"></i> {{week['ja']}}</a>
                  </li>
                </ul>
              </li>
              <li class="panel">
                <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-atoz-anime">アニメ（五十音順）</a>
                <ul id="collapse-atoz-anime" class="collapse">
                  <li ng-repeat="a in atoz">
                    <a href="/atoz/{{a['en']}}"><i class="fa fa-chevron-circle-right"></i> {{a['ja']}}</a>
                  </li>
                </ul>
              </li>
              <!-- End Anime -->
              <!-- Start Drama -->
              <li class="panel">
                <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-week-drama">ドラマ（放送曜日）</a>
                <ul id="collapse-week-drama" class="collapse">
                  <li ng-repeat="week in weeks">
                    <a href="/week/{{week['en']}}"><i class="fa fa-chevron-circle-right"></i> {{week['ja']}}</a>
                  </li>
                </ul>
              </li>
              <li class="panel">
                <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-atoz-drama">ドラマ（五十音順）</a>
                <ul id="collapse-atoz-drama" class="collapse">
                  <li ng-repeat="a in atoz">
                    <a href="/atoz/{{a['en']}}"><i class="fa fa-chevron-circle-right"></i> {{a['ja']}}</a>
                  </li>
                </ul>
              </li>
              <!-- End Anime -->

            </ul>
            <!-- Column Right -->

          </div>
          <!-- Column Center -->

          <div ng-view></div>

        </div>
      </div><!--/container-->
      
      
    <!--=== Footer ===-->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 md-margin-bottom-40">
            <!-- About -->
            <div class="headline">
              <h2>About</h2>
            </div>
            <p class="margin-bottom-25 md-margin-bottom-40">
              動画リンクサイトです。
            </p>
            <!-- End About -->

          </div><!--/col-md-4-->

          <div class="col-md-4 md-margin-bottom-40">
            <!-- Recent Blogs -->
            <div class="posts">
              <div class="headline">
                <h2>Recent Entries</h2>
              </div>
              <dl class="dl-horizontal">
                <dt>
                  <a href="#"><img src="/assets/img/sliders/elastislide/6.jpg" alt=""></a>
                </dt>
                <dd>
                  <p>
                    <a href="#">ITエンジニアが技術検証を兼ねて作成したページです。</a>
                  </p>
                </dd>
              </dl>
            </div>
            <!-- End Recent Blogs -->
          </div><!--/col-md-4-->

          <div class="col-md-4">
            <!-- Contact Us -->
            <div class="headline">
              <h2>Contact Us</h2>
            </div>
            <address class="md-margin-bottom-40">
              Email: <a href="mailto:broadwell1234@gmail.com" class="">broadwell1234@gmail.com</a>
            </address>
            <!-- End Contact Us -->


          </div><!--/col-md-4-->
        </div>
      </div>
    </div><!--/footer-->
    <!--=== End Footer ===-->

    <!--=== Copyright ===-->
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>
              2014 &copy;  ALL Rights Reserved.
              <a target="_blank" href="https://twitter.com/htmlstream">Htmlstream</a>
            </p>
          </div>
          <div class="col-md-6">
            <a href="index.html"> <img class="pull-right" id="logo-footer" src="/assets/img/logo2-default.png" alt=""> </a>
          </div>
        </div>
      </div>
    </div><!--/copyright-->
    <!--=== End Copyright ===-->
      
    </div>
    <!-- End Content Part -->

    <!-- JS Global Compulsory -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>

    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/assets/plugins/parallax-slider/js/modernizr.js"></script>
    <script type="text/javascript" src="/assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="/assets/js/app.js"></script>
    <script type="text/javascript" src="/assets/js/ng.js"></script>
    <script type="text/javascript" src="/assets/js/pages/index.js"></script>
    <script src="http://jtrussell.github.io/angular-snap.js/bower_components/snapjs/snap.js"></script>
    <script src="http://jtrussell.github.io/angular-snap.js/bower_components/angular-snap/angular-snap.js"></script>
    
    <script type="text/javascript">
      jQuery(document).ready(function() {
        App.init();
        App.initSliders();
        Index.initParallaxSlider();
      });
    </script>
    <!--[if lt IE 9]>
    <script src="/assets/plugins/respond.js"></script>
    <script src="/assets/plugins/html5shiv.js"></script>
    <![endif]-->

    <script type="text/ng-template" id="main.html">
      <div class="col-md-10">
      <!-- Recent Works -->
      <!-- Start Recent Works -->
      <div class="row">
      <div ng-repeat="content in contents" class="animated">

      <div class="col-md-3 col-sm-6 easy-block-v2">
      <div itemscope itemtype="http://schema.org/TVEpisode" class="thumbnails thumbnail-style thumbnail-kenburn">
      <div class="thumbnail-img">
      <div class="overflow-hidden">
      <a href="/episode/{{content.id}}">
      <img itemprop="image" class="img-responsive" ng-src="{{content.url}}" alt=""></a>
      </div>
      <a class="btn-more hover-effect" href="/episode/{{content.id}}">read more +</a>
      <a href="/episode/{{content.id}}"><div class="easy-bg-v2 rgba-purple">New</div></a>
      </div>
      <div class="caption">
      <h4><a class="hover-effect" href="/episode/{{content.id}}">
        <span itemprop="partOfTVSeries" itemscope itemtype="http://schema.org/TVSeries">
          <span itemprop="name">
          {{content.title}}
          </span></span>
          </a></h4>

      </div> <ul class="list-unstyled">
      <li itemprop="episodeNumber"><i class="fa fa-desktop"></i> {{content.episode_num}}</li>
      <li itemprop="name"><i class="fa fa-twitch"></i> {{content.episode_name}}</li>
      <li itemprop="datePublished" content="2014-09-02T16:41:00"><i class="fa fa-clock-o"></i> {{content.date}}</li>
      <li><i class="fa fa-line-chart"></i>
        <i class="fa fa-heart text-info" ng-repeat="ok in [] | range:content.ok">&nbsp;</i><i class="fa fa-heart text-danger" ng-repeat="ok in [] | range:content.ng">&nbsp;</i>
      </li>

      </ul>
      </div>

      </div>

      <div class="col-md-12" ng-if="$index%4 == 3"></div>
      </div>
      </div>
      <!-- End Recent Works -->
      </div>
    </script>
    
    <script type="text/ng-template" id="episode.html">

      <!-- Carousel -->
      <div class="col-md-4">
      <div class="carousel slide carousel-v1" id="myCarousel">
      <div class="carousel-inner">
      <div class="item active">
      <img alt="" ng-src="{{content.url}}" style="margin: 0 auto;">
      </div>
      </div>
      </div>
      </div>
      <!-- End Carousel -->

      <!-- Content Info -->
      <div class="col-md-6 profile-body">
      <h2>{{content.title}}</h2>
      <p> {{content.description}} </p>
      
                            <div class="panel panel-profile no-bg">
                                <div class="panel-heading overflow-h">
                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i>Episodes</h2>
                                </div>


                                <div id="scrollbar2" class="panel-body contentHolder ps-container">
                                    <div class="profile-event" ng-repeat="episode in content.episodes">
                                        <div class="date-formats">
                                            <span>{{episode.episode_num}}</span>
                                            <small>Episode</small>
                                        </div>
                                        <div class="overflow-h">
                                          <ul class="list-unstyled">
                                          <li><i class="fa fa-twitch"></i> {{episode.episode_name}}</li>
                                          <li><i class="fa fa-clock-o"></i> {{episode.date}}</li>
                                          <li>
                                            <a href=" {{post.url}}" target="_blank" ng-repeat="post in episode.posts" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-xs margin-bottom-5">
                                              <i ng-if="post.available==='OK'" class="fa fa-heart text-info margin-right-5"></i><i ng-if="post.available==='NG'" class="fa fa-heart text-danger margin-right-5"></i>
                                              {{post.contents_holder_name}}</a>
                                
                                          </li>
                                          </ul>
                                        </div>
                                    </div>
                                </div>
      <!-- End Content Info -->
    </script>
    <script type="text/ng-template" id="howto.html">

      <div class="container content">
      <div class="row portfolio-item margin-bottom-50">
      <!-- Carousel -->
      <div class="col-md-7">
      <div class="carousel slide carousel-v1" id="myCarousel">
      <div class="carousel-inner">
      <div class="item active">
      <img alt="" src="/assets/img/main/11.jpg">
      <div class="carousel-caption">
      <p>Facilisis odio, dapibus ac justo acilisis gestinas.</p>
      </div>
      </div>
      <div class="item">
      <img alt="" src="/assets/img/main/12.jpg">
      <div class="carousel-caption">
      <p>Cras justo odio, dapibus ac facilisis into egestas.</p>
      </div>
      </div>
      <div class="item">
      <img alt="" src="/assets/img/main/13.jpg">
      <div class="carousel-caption">
      <p>Justo cras odio apibus ac afilisis lingestas de.</p>
      </div>
      </div>
      </div>

      <div class="carousel-arrow">
      <a data-slide="prev" href="#myCarousel" class="left carousel-control">
      <i class="fa fa-angle-left"></i>
      </a>
      <a data-slide="next" href="#myCarousel" class="right carousel-control">
      <i class="fa fa-angle-right"></i>
      </a>
      </div>
      </div>
      </div>
      <!-- End Carousel -->

      <!-- Content Info -->
      <div class="col-md-5">
      <h2>Portfolio Item Information</h2>
      <p>At vero eos et accusamus et iusto odio dignissimos <a href="#">ducimus qui blanditiis</a> praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus.</p>
      <p>Molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus.</p>
      <ul class="list-unstyled">
      <li><i class="fa fa-user color-green"></i> Jack Baur</li>
      <li><i class="fa fa-calendar color-green"></i> 14,2003 February</li>
      <li><i class="fa fa-tags color-green"></i> Websites, Google, HTML5/CSS3</li>
      </ul>
      <a href="#" class="btn-u btn-u-large">VISIT THE PROJECT</a>
      </div>
      <!-- End Content Info -->
      </div><!--/row-->

      <div class="tag-box tag-box-v2">
      <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat.</p>
      </div>

      <div class="margin-bottom-20 clearfix"></div>

      </div>

    </script>
  </body>
</html>
